#dice0, #dice1, #dice2, #dice3, #dice4, #dice5 {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url("../images/dice-sprite.gif");
}
.class1 {
  background-position-x: -192px;
}
.class2 {
  background-position-x: -224px;
}
.class3 {
  background-position-x: -256px;
}
.class4 {
  background-position-x: -288px;
}
.class5 {
  background-position-x: -320px;
}
.class6 {
  background-position-x: -352px;
}
.class7 {
  background-position-x: -384px;
}
.class8 {
  background-position-x: -416px;
}
.class9 {
  background-position-x: -448px;
}
.class10 {
  background-position-x: -480px;
}
.class11 {
  background-position-x: -512px;
}
.class12 {
  background-position-x: -544px;
}
.class13 {
  background-position-x: -0px;
}
.class14 {
  background-position-x: -32px;
}
.class15 {
  background-position-x: -64px;
}
.class16 {
  background-position-x: -96px;
}
.class17 {
  background-position-x: -128px;
}
.class18 {
  background-position-x: -160px;
}